{% extends 'base.html.twig' %}

{% block title "Mon application React" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/app.css">
{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
{% endblock %}

{% block javascripts %}
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
{% endblock %}
